fastapi
uvicorn[standard]
pydantic-settings
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-deepseek
langchain-xai
langchain-text-splitters>=1.0,<2
unstructured
unstructured[pdf]
pillow-heif
pdfminer.six
pypdf
supabase
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
# psycopg2
python-dotenv
typer
requests
python-multipart